useDynLib(npROCRegression, .registration = TRUE)
import(lattice)
import(stats)
import(graphics)
export(controlDNPROCreg, DNPROCreg, DNPROCregData, summary.DNPROCreg, print.DNPROCreg, plot.DNPROCreg,controlINPROCreg, INPROCreg, summary.INPROCreg, print.INPROCreg, plot.INPROCreg)
S3method(print, DNPROCreg)
S3method(print, summary.DNPROCreg)
S3method(summary, DNPROCreg)
S3method(plot, DNPROCreg)
S3method(print, INPROCreg)
S3method(print, summary.INPROCreg)
S3method(summary, INPROCreg)
S3method(plot, INPROCreg)